<div class="panel feed">
  <div class="welcome">
    <div class="item-image">
      <%= image_tag "bbroc-find.png", alt: "See what's fresh with Best Broccoli" %>
    </div>
    <h2>What's fresh at <%= @vendor.name %></h2>
      <div class="fb-like" data-href="https://www.facebook.com/bestbroccoli" data-width="225" data-layout="box_count" data-action="like" data-show-faces="false" data-share="false"></div>
      <p class="last">Like us for updates</p>
    </div>
  <%= render @vendor.posts.limit(12) %>
</div>
<div class="panel">
  <div class="tagline">
    <span class="full">Want to see your products listed here? <a href="mailto:info@bestbroccoli.com?subject= Vendor Inquiry" >Let us know</a></span>
  </div>
</div>
<div class="panel divide">
  <hr>
</div>
<div class="panel alternate">
  <h1 class="full box front">Can't find it?<br/>We take requests.</h1>
  <div class="request-container">
    <h2>I'm looking for</h2>
    <div class="request-bar">
      <% if !current_user %>
      <input id="request-bar" class="request-box" type="text" placeholder="" value="" onfocus="if (this.value == '') {this.value = '';}" onblur="if (this.value == '') {this.value = '';}" />
      <button class="sign-up-toggle" title="Tell us what you're looking for">Go</button>
      <% end %>
      <% if current_user %>
        <%= simple_form_for @request do |f| %>
        <div class="request-bar">
          <%= f.input_field :body, label: false, class: "request-box", id: "request-bar" %>
          <%= f.submit 'Go', class: "sign-up-toggle" %>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <% if !current_user %>
  <%= render "application/sign_up_form" %>
  <% end %>
</div>
