<div class="panel full">
  <h2 class="full">About</h2>
  <p class="box">
    <strong>Everyone</strong> has had the experience of not being to find that one item or ingredient necessary to complete their amazing dinner plan. We want to know what that item is for you. In fact, we want to become your go-to source for finding it! We created <%= link_to 'www.bestbroccoli.com', root_path %> to help people find fresh produce and specialty items in Dar es Salaam, Tanzania. We're currently focusing our efforts around the peninsula while we refine our   approach and gather people's <%= link_to 'feedback', page_path('feedback') %></a>. Enter your item on the <%= link_to 'front page', root_path %>, sign up, and receive a notification when it becomes available. <strong>It's that simple.</strong> <br><br>Find yourself on the other side of the equation? We're always looking for new vendors to join the Best Broccoli community. <%= mail_to 'info@bestbroccoli.com', 'Contact us today!', subject: 'Vendor inquiry' %>
  </p>
  <div class="welcome">
    <div class="item-image">
      <%= image_tag "bbroc-find.png", alt: "Enjoy what's fresh with Best Broccoli" %>
    </div>
    <h2>Find what's fresh</h2>
    <div>
      <p>Sign up and gain access to see all of our fresh posts.</p>
    </div>
  </div>

  <div class="welcome">
    <div class="item-image">
      <%= image_tag "bbroc-know.png", alt: "Enjoy what's fresh with Best Broccoli" %>
    </div>
    <h2>Know what's fresh</h2>
    <div>
      <p>We'll notify you when your item becomes available</p>
    </div>
  </div>

  <div class="welcome">
    <div class="item-image">
      <%= image_tag "bbroc-enjoy.png", alt: "Enjoy what's fresh with Best Broccoli" %>
    </div>
    <h2>Enjoy what's fresh</h2>
    <div>
      <p>Think we're on to something?</p>
    </div>
    <div class="fb-like" data-href="http://www.bestbroccoli.com" data-layout="standard" data-width="225" data-action="like" data-show-faces="true" data-share="true"></div>
  </div>
</div>
