<div class="panel">
  <div class="profile">
    <h2>Sign in</h2>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email, required: false, autofocus: false, label: false, placeholder: "Email" %>
        <%= f.input :password, required: false, label: false, placeholder: "Password" %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Log in" %>
      </div>
    <% end %>
    <div class="helpful-links">
      <%= link_to "Forgot your password?", new_password_path(resource_name), class: "form-text-space" %>
      <br>
      <%= link_to "Didn't receive confirmation instructions?", new_user_confirmation_path(resource_name), class: "form-text-space" %>
    </div>
    <br>
    <%= link_to "Continue with Facebook", user_omniauth_authorize_path(:facebook), class: "button fb-sign-in" %>
  </div>
</div>
