<div class="panel control">
  <div class="welcome">
    <h2>Your recent requests</h2>
    <ul>
      <%= render current_user.recent_requests %>
    </ul>
  </div>
  <div class="welcome">
    <h2>New request</h2>
    <%= simple_form_for @request do |f| %>
      <%= f.input :body, label: false, placeholder: "Enter an item" %>
      <%= f.submit 'Submit' %>
    <% end %>
  </div>
  <div class="welcome">
    <div><%= link_to "New post", new_post_path, class: "button" %></div>
  </div>
</div>