<a href="/"><i class="fa fa-close"></i></a>
<div id="new-post" class="new-post">
  <%= simple_form_for(@post) do |f| %>
  <div id="the-real-new-post" class="post">
    <p>It all starts with a great photo. Let's go!</p>
    <div id="take-image" class="camera button" onclick="document.getElementById('post_image').click()">
      <span>+Add a Photo</span>
    </div>
    <div id="retake-image" class="camera hidden button" onclick="document.getElementById('post_image').click()">
      <span>Retake Photo</span>
    </div>
    <div class="item-image hidden">
      <canvas id="canvas" width="305px" height="229px"></canvas>
    </div>
    <div class="input-wrapper">
      <%= f.input :image %>
      <%= f.input(:item, placeholder: "Item name", label: false) %>
      <div class="price-wrap">
        <%= f.input :price, label: false, placeholder: "Price in TSH" %><div class="divider">/</div><%= f.input :unit, label: false, collection: Post::UNITS_CHOICES, include_blank: "unit" %>
      </div>
      <%= f.association :vendor, label: false, required: false, include_blank: "Location" %>
      <div class="location-trigger"><%= link_to "Not listed? Add a new location", "javascript:void(0)" %></div>
    </div>
    <%= f.simple_fields_for :vendor do |v| %>
      <%= v.input :name, label: false, placeholder: "New location name", html: { class: 'visible' }  %>
      <%= v.input :lat, as: :hidden %>
      <%= v.input :lng, as: :hidden %>
      <%= v.input :accuracy, as: :hidden %>
    <% end %>
    <div class="form-actions">
      <%= f.button :submit, "Post", class: "submit", data: {disable_with: "Submitting..."} %><%= link_to "Cancel", root_path, class: "button cancel" %>
    </div>
  </div>
  <% end %>
</div>
