<article class="post">
  <div class="item-image">
    <%= image_tag post.image.url, alt: "apples" %>
  </div>
  <div class="headline">
    <h2><%= post.item %></h2>
    <div>
      <%= image_tag "broccoli-placeholder.png", alt: "placeholder avatar", class: "avatar" %>
    </div>
  </div>
  <div class="detail">
    <h3><i class="fa fa-map-marker"></i> at <%= post.vendor.name %></h3>
    <h3><i class="fa fa-clock-o"></i> <%= time_tag post.created_at, distance_of_time_in_words_to_now(post.created_at) + ' ago', pubdate: true %></h3>
  </div>
</article>
