<a href="/"><i class="fa fa-close"></i></a>

<div id="new-post">

  <div id="the-real-new-post" class="post">
    <button id="take-image" class="camera" onclick="document.getElementById('inputImage').click()">
      <i class="fa fa-camera"></i><span> Add Photo</span>
    </button>
    <button id="retake-image" class="camera hidden" onclick="document.getElementById('inputImage').click()">
      <i class="fa fa-camera"></i><span> Retake Photo</span>
    </button>
    <div class="item-image hidden">
      <canvas id="image"></canvas>
      <div class="image-controls">
        <button id="rotate-left">
          <i class="fa fa-rotate-left"></i>
        </button>
        <button id="rotate-right">
          <span class="fa fa-rotate-right"></i>
        </button>
      </div>
    </div>
    <div class="headline">
      <%= simple_form_for(@post) do |f| %>
      <input type="file" id="inputImage" accept="image/*" capture>
      <input type="text" placeholder="Item">
      <div>
        <%= image_tag "broccoli-placeholder.png", alt: "placeholder avatar", class: "avatar" %>
      </div>
    </div>
    <div class="detail">
      <input type="text" placeholder="Location">
      <div class="form-actions">
        <%= f.button :submit, "Post", data: {disable_with: "Submitting..."} %>
      </div>
    </div>
  </div>
<%= f.association :vendor,label: false, prompt: "Where are you?" %>
<%= f.association :item, label: false, prompt: "What is this?"  %>
<% end %>
</div>
