<div id="new-post" class="post">
  <h2>Find something?</h2>
  <%= simple_form_for(@new_post) do |f| %>
    <input type="file" capture> <!-- added by Eric -->
    <%= f.association :item, label: false  %>
    <%= f.association :vendor,label: false %>
    <div class="form-actions">
      <%= f.button :submit, "Post" %>
    </div>
  <% end %>
  <%= link_to(" Logout #{current_user.first_name}", destroy_user_session_path, :method => :delete) %>
</div>