<main id="middle" class="panel active">
  <div id="top-container" class="post">
    <%= render "flashes" -%>
    <% if current_user %>
      <%= link_to(" Logout #{current_user.first_name}", destroy_user_session_path, :method => :delete) %>
    <% else %>
      <%= render "authentication_forms" %>
    <% end %>
  </div>
    <%= render @posts %>
    <%= render "application/footer" %>
</main>