<div id="wrap">
  <% if current_user.role == "admin" %>
    <%= render "vendor_panel" %>
    <%= render "request_panel" %>
  <% elsif current_user.role == "vendor" %>
    <%= render "vendor_panel" %>
  <% else %>
    <%= render "request_panel" %>
  <% end %>

  <div class="panel">
    <div class="fb-like" data-href="http://www.bestbroccoli.com" data-layout="standard" data-width="225" data-action="like" data-show-faces="true" data-share="true"></div>
  </div>
  <div class="panel divide">
    <hr>
    <span>
      <strong>Behold all that is fresh</strong>
    </span>
  </div>
  <div class="panel feed">
    <%= render @posts %>
  </div>
  <div class="pagination">
    <%= link_to_next_page(@posts, 'See more', :remote => true) %>
  </div>
</div>
