<div id="wrap">
  <div class="panel alternate">
    <div class="request-container">
      <h2>I'm looking for</h2>
      <div class="request-bar">
        <%= simple_form_for @request do |f| %>
          <%= f.input :body, label: false, placeholder: "Enter an item" %>
          <%= f.submit 'Add alert' %>
        <% end %>
      </div>
    </div>
  </div>
<h2>Your recent requests</h2>
<ul>
  <%= render current_user.recent_requests %>
</ul>
  <div class="panel divide">
    <hr>
    <span>
      <strong>the fresh list</strong>
    </span>
  </div>
  <div class="panel feed">
    <%= render @posts %>
  </div>
  <div class="pagination">
    <%= link_to_next_page(@posts, 'See more', :remote => true) %>
  </div>
</div>
