<div id="signin" class="post sign-up">
  <div class="toggle-container"><span>Create an account</span><span>or <a href="javascript:void(0)">sign in</a></span></div>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, required: true, autofocus: false, label: false, placeholder: 'Name' %>
    <%= f.input :email, required: true, label: false, placeholder: 'Email' %>
    <%= f.input :password, required: true, label: false, placeholder: 'Password' %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Create an account" %>
  </div>

  <% end %>

  <span class="form-text-space">or</span>
  <%= link_to "Continue with Facebook", user_omniauth_authorize_path(:facebook), class: "button fb-sign-in" %>
</div>
<div class="post sign-in hidden">
  <div class="toggle-container"><span>Sign in</span><span>or <a href="javascript:void(0)">create an account</a></span></div>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.input :email, required: true, autofocus: false, label: false, placeholder: 'Email' %>
    <%= f.input :password, required: true, autofocus: false, label: false, placeholder: 'Password' %>
    <%= f.input :remember_me, label: "Remember me", as: :boolean %>
    <%= f.submit 'Sign in' %>
    <%= link_to "Forgot your password?", new_password_path(resource_name), class: "form-text-space" %>

  <% end %>

</div>
