<div>
  <h2>Sign in</h2>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: "sign_in"}) do |f| %>
    <%= f.input :email, required: true, autofocus: false, label: false, placeholder: 'Email' %>
    <%= f.input :password, required: true, autofocus: false, label: false, placeholder: 'Password' %>
    <%= f.input :remember_me, label: "Remember me", as: :boolean %>
    <%= f.submit 'Sign in' %>
    <%= link_to "Forgot your password?", new_password_path(resource_name), class: "form-text-space" %>
  <% end %>
</div>
