<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="Best Broccoli helps you find the best produce, artisan products and specialty items in Dar. Like us for updates and always know what's fresh.">


  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="msapplication-TileColor" content="#fff">
  <meta name="msapplication-TileImage" content="<%= image_url '/best-broccoli-logo.png' %>">

  <meta property="fb:app_id" content="1662230064025382">
  <meta property="og:locale" content="en_US" />
	<meta property="og:site_name" content="Best Broccoli">
	<meta property="og:url" content="https://www.bestbroccoli.com">
	<meta property="og:title" content="Find what's fresh">
	<meta property="og:description" content="Best Broccoli helps you find the best produce, artisan products and specialty items in Dar. Like us for updates and always know what's fresh.">
	<meta property="og:type" content="website">
	<meta property="og:image" content="<%= image_url '/best-broccoli-app-banner.jpg' %>">

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@BroccoliBest" />
  <meta name="twitter:title" content="Find what's fresh" />
  <meta name="twitter:description" content="Best Broccoli helps you find the best produce, artisan products and specialty items in Dar. Like us for updates and always know what's fresh." />
  <meta name="twitter:image" content="<%= image_url '/public/best-broccoli-app-banner.jpg' %>" />

  <link rel="manifest" href="/manifest.json">

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

  <!-- Facebook Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
  n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
  document,'script','https://connect.facebook.net/en_US/fbevents.js');

  fbq('init', '253210231688931');
  fbq('track', "PageView");</script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=253210231688931&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->

  <%#
    Configure default and controller-, and view-specific titles in
    config/locales/en.yml. For more see:
    https://github.com/calebthompson/title#usage
  %>
  <title><%= title %></title>
  <%= render "application/favicons" %>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
</head>
