<%= render "layouts/head" %>
<body class="<%= body_class %>" data-xthreshold="100">
  <div class="wrapper">
    <%= render "application/header" %>
    <section>
      <%= render "application/left" %>
      <%= render "application/right" %>
      <%= yield %>
      <%= render "application/bottom_nav" %>
    </section>
    <%= render "javascript" %>
  </div>
</body>
</html>
