<%= render "layouts/head" %>
<body class="<%= body_class %>">
  <%= render "application/facebook_like_share" %>
  <%= render "application/header" %>
  <main>
    <%= render "flashes" -%>
    <section class="main" itemscope itemtype="http://schema.org/Blog">
      <link itemprop="mainEntityOfPage" href="http://www.bestbroccoli.com" />
        <%= yield %>
    </section>
  </main>
  <%= render "application/footer" %>
  <%= render "javascript" %>
  <% if Rails.env.production? %>
    <%= render "application/google_analytics" %>
  <% end %>
</body>
</html>
