<%= render "layouts/head" %>
<body class="<%= body_class %>">
  <div id="fb-root"></div>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  <%= render "application/header" %>
  <main>
    <%= render "flashes" -%>
    <section class="main" itemscope itemtype="http://schema.org/Blog">
      <link itemprop="mainEntityOfPage" href="http://www.bestbroccoli.com" />
        <%= yield %>
    </section>
  </main>
  <%= render "application/footer" %>
  <%= render "javascript" %>
  <% if Rails.env.production? %>
    <%= render "application/google_analytics" %>
  <% end %>
</body>
</html>
