<%= render "layouts/head" %>
<body class="<%= body_class %>">
  <% if current_user %>
    <%= render "application/header" %>
  <% end %>
    <%= render "flashes" -%>
    <main>
      <section class="main">
        <%= yield %>
      </section>
    </main>
    <% if current_user %>
    <%= link_to(" Logout #{current_user.name}", destroy_user_session_path, :method => :delete) %>
    <% end %>
    <%= render "application/footer" %>
    <%= render "javascript" %>
</body>
</html>
