<%= render "layouts/head" %>
<body class="<%= body_class %>">
    <%= render "application/header" %>
    <main>
      <%= render "flashes" -%>
      <section class="main">
        <%= yield %>
      </section>
    </main>
    <%= render "application/footer" %>
    <%= render "javascript" %>
</body>
</html>
